html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: orange;
}

header {
    background-color: #E6E6E4;
}

nav {
    display: flex;
    align-items: baseline;
    height: 40px;
}

button {
    border: 43px double #3a41db;
}