@model HannesMalterRoadTransport.Models.Transport

@{
    ViewData["Title"] = "Edit Transport Car Number";
}

<h1>Edit Transport Car Number</h1>

<h4>Transport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTransportCarNumber">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Name" />
            <input type="hidden" asp-for="ETA" />
            <input type="hidden" asp-for="StartingLocation" />
            <input type="hidden" asp-for="EndLocation" />
            <input type="hidden" asp-for="Driver" />
            <div class="form-group">
                <label asp-for="CarNR" class="control-label"></label>
                <input asp-for="CarNR" class="form-control" />
                <span asp-validation-for="CarNR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Assign" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="AssginCarNumber">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
